body {
    background: linear-gradient(90deg, #3700fd 0%, #000000 100%);
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(148, 148, 148);
}

.navbar-brand img  {
    width: 90px;
}

.navbar-toggler {
    background-color: rgb(177, 173, 173);
}

.sait-bar {
    color: rgb(245, 243, 120);
    background: linear-gradient(270deg, #3700fd 0%, #000000 100%);
}

.obomne {
 color: rgb(255, 78, 78);
}

.card {
    background: linear-gradient(90deg, #005a70 0%, #000000 100%);
    color: black;
}

.card a {
    text-decoration: none;
    color: black;
}

.slide-text, 
.footer-text {
    color: rgb(255, 127, 127);
    margin:auto auto;
}

#a1 {
    width:50px;
    height: 349px;
}

.footer-text a {
    text-decoration: none;
    color: rgb(255, 127, 127);
}
footer {
    background: linear-gradient(90deg, #3700fd 0%, #000000 100%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.help {
    color: rgb(255, 127, 127);;
}

.call {
    animation: myAnim 3s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}